<div class="container">
  <h1>tus-js-client demo</h1>

  <p>
    For a prettier demo please go to the
    <a href="http://tus.io/demo.html">tus.io</a> website.
    This demo is just here to aid developers.
  </p>

  <div class="alert alert-warning hidden" id="support-alert">
    <b>Warning!</b> Your browser does not seem to support the features necessary to run tus-js-client. The buttons below may work but probably will fail silently.
  </div>

  <br />

  <table>
    <tr>
      <td>
        <label for="endpoint">
          Upload endpoint:
        </label>
      </td>
      <td>
        <input type="text" id="endpoint" name="endpoint" value="/nutus/uploads/">
      </td>
    </tr>
    <tr>
      <td>
        <label for="chunksize">
          Chunk size (bytes):
        </label>
      </td>
      <td>
        <input type="number" id="chunksize" name="chunksize">
      </td>
    </tr>
    <tr>
      <td>
        <label for="resume">
          Resume Off
        </label>
      </td>
      <td>
        <input type="checkbox" id="resume">
      </td>
    </tr>
  </table>

  <script id="upload-template" type="text/x-handlebars-template">
    <hr/>
    <div class="row">
      <div class="span4">
        <input type="file">
      </div>
      <div class="span4" style="display: none;">
        <div class="progress progress-striped progress-info">
          <div class="bar" style="width: 0%;"></div>
        </div>
      </div>
      <div class="span4" style="display: none;">
        <button class="btn btn-danger">
          Pause
        </button>
      </div>
    </div>
  </script>

</div>
