<!DOCTYPE html>
<html>
<head>
  <title>Nutus</title>
  <%= stylesheet_link_tag    "nutus/application", media: "all" %>
  <%= javascript_include_tag "nutus/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
